.dataBoxContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 1px solid rgb(255, 158, 158); */
  align-items: center;
  font-family: "Jura";
  font-size: 20px;
}

.counterDataBox {
  font-size: 44px;
}
.counterValueText {
  font-size: 28px;
  /* font-size: 36px; */
}
.firstLetter {
  font-size: 16px;
  /* font-size: 22px; */
}

.otherLetters {
  font-size: 14px;
  /* font-size: 16px; */
}

.dateValue {
  font-size: 12px;
}

.counterDataBoxContainer {
  position: absolute;
  bottom: 20px;
}
