.optionBox {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 1px solid #5560b8; */
  align-items: center;
  color: rgb(183, 183, 183);
  font-family: "Jura";
  font-size: 20px;
  padding-bottom: 10px;
}

.counter {
  font-size: 44px;
  font-family: "Jura";
  /* border: 1px solid blueviolet; */
}
.counterValueText {
  /* font-size: 24px; mobile */
  font-size: 36px;
}
.firstLetter {
  /* font-size: 16px; mobile*/
  font-size: 22px;
}

.otherLetters {
  /* font-size: 14px; mobile */
  font-size: 16px;
}

.firstLetterMargin {
  margin-left: 5px;
}

.dateValue {
  /* font-size: 8px; mobile */
  font-size: 10px;
  /* border: 1px solid sienna; */
}

.counterContainer {
  /* border: 1px solid salmon; */
  position: absolute;
  bottom: 50px;
  z-index: 2;
}
