.optionBox {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #5560b8;
  align-items: center;
  color: rgb(183, 183, 183);
  font-family: "Jura";
  font-size: 20px;
  padding-bottom: 10px;
}

.counter {
  font-size: 44px;
  font-family: "Jura";
  border: 1px solid blueviolet;
}
.counterValueText {
  border: 1px solid seagreen;
}

.firstLetter {
  font-size: 24px;
}
.firstLetterMargin {
  margin-left: 5px;
}
.otherLetters {
  font-size: 18px;
}

.dateValue {
  font-size: 12px;
  border: 1px solid sienna;
}

.counterContainer {
  border: 1px solid salmon;
  position: absolute;
  bottom: 50px;
  z-index: 2;
}
